[submodule "extern"]
	path = extern
	url = https://github.com/Styyx1/StyyxUtils.git
[submodule ".extern/styyx-util"]
	path = .extern/styyx-util
	url = https://github.com/Styyx1/StyyxUtils.git
[submodule "extern/styyx-util"]
	path = extern/styyx-util
	url = https://github.com/Styyx1/StyyxUtils.git
[submodule "extern/clib-util"]
	path = extern/clib-util
	url = https://github.com/powerof3/CLibUtil.git
